/* Reference - W3Schools CSS Reference. Available at: https://www.w3schools.com/cssref/index.php (Accessed: March 11, 2023) */
/* FONTS */
/* Installs a new font from the font folder, this font is the wowburger.ie font and is available with the open font license */
@font-face {
    font-family: Bebas-neue-PRO-sans-serif;
    src: url("../Fonts/bebas-neue-pro-bold-sans-serif.otf");
}

.wow-font {
    /* Formats fonts look*/
    font-family: Bebas-neue-PRO-sans-serif;
    color: white;
    font-size: 40px;
    /* Makes text more visible*/
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Remove default button background and border*/
    background: transparent;
    border: none;
}

.small-font {
    font-size: 20px;
}

/* POSITIONS */
/* Set a default background colour, hex-colours in this doc were found from colour picking/eyedropper tool on the wowburger1.jpg */
body {
    background-color: #c90104;
}
/* This is used to style only the homepage body */
#body-homepage {
    background-image: url("../Images/wowburger1.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    font-family: bebas-neue-pro
}

.middle-middle {
    /* I use absolute top, left and transform with percentage vaklues to ensure the button is always in the center in a reponsive way */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#top-margin {
    margin-top: 200px;
}

.top-middle {
    /* Fixed position has the logo stay on the page if scrolling is required */
    position: fixed;
    top: 7.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Z-Index adds layers to the page to overlay blocks */
    z-index: 3;
}

.top-right {
    /* Allows positioning of text*/
    position: absolute;
    top: 2%;
    right: 2%;
}

.bottom-middle {
    /* Allows positioning of text*/
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ANCHORS */
.order-online-anchor {
    /* I found this colour using MSPaint colour picker on part of the background Image*/
    background-color: #c90104;
    border: 0;
    cursor: pointer;
}

.anchor-style {
    cursor: pointer;
}

#order-anchor:hover {
    background-color: yellow;
    color: red;
    border: solid;
    padding: 10px;
}

/* PAGE 2 */
.burgers {
    max-height: 100vh;
    margin-top: 120px;
    display: inline-block;
}

    .burgers a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
    }


/* PAGE 3 */

/* Order Form Formatting */
table {
    background-color: #fd3d4d; /* Color picked from wowburger1.jpg */
    border: 2px solid #920202;
    width: 40%; /* Table Size is Roughly 1/3 of the screen */
}

th {
    width: 20%; /* Half the size of the table */
}

form {
    display: inline-block;
}

.warning-message {
    display: none;
    color: yellow;
}

.visible {
    display: block;
}

/* Hamburger Menu */
/* The Hamburger menu is altered from the code on this page https://codepen.io/alvarotrigo/pen/yLzaPVJ */
#menu__toggle {
    opacity: 0;
}

    #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
    }

        #menu__toggle:checked + .menu__btn > span::before {
            top: 0;
            transform: rotate(0deg);
        }

        #menu__toggle:checked + .menu__btn > span::after {
            top: 0;
            transform: rotate(90deg);
        }

    #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
    }

.menu__btn {
    position: fixed;
    top: 70px;
    left: 10px;
    /* Changed width to cover background Hamburger */
    width: 40px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
}

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: white;
        transition-duration: .25s;
    }
        /* Changed position to match wowburger1.jpg */
        .menu__btn > span::before {
            content: '';
            top: -15px;
        }

        .menu__btn > span::after {
            content: '';
            top: 16px;
        }

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #e8b3ac;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    /* Changed font family and size */
    font-family: Bebas-neue-PRO-sans-serif, sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
    /* I learned from this that I could add hover effects to my buttons that mimic the wowburger website */
    .menu__item:hover {
        /* Changed Font Colour */
        background-color: red;
    }
